@CHARSET "ISO-8859-1";


html,body{margin:0;padding:0}
body{font: 76% arial,sans-serif}
p{margin:0 10px 10px}
a{display:block;color: #981793;padding:10px}


#menu {
body {
background-color: #000;
}

* {
margin: 0;
padding: 0;
}

ul {
list-style-type: none;
background-image: url(http://localhost:8080/empresaB/resources/imagenes/navibg.png);
height: 80px;
width: 663px;
margin: auto;
}

li {
float: left;
}

ul a {
background-image: url(http://localhost:8080/empresaB/resources/imagenes/navi_bg_divider.png);
background-repeat: no-repeat;
background-position: right;
padding-right: 32px;
padding-left: 32px;
display: block;
line-height: 80px;
text-decoration: none;
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 21px;
color: #371C1C;
}
ul a:hover {
color: #FFF;
}
#menu {background:#B9CAFF}
}